/* LenderTable.module.css */

.wrapper {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox oculta scroll por defecto */
}

/* Scroll en hover (Chrome, Edge, Safari) */
.wrapper::-webkit-scrollbar {
  height: 8px;
  background: transparent;
}

.wrapper:hover::-webkit-scrollbar {
  background: #e0e0e0;
}

.wrapper:hover::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 4px;
}

/* Tabla */
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
  font-family: 'Poppins', sans-serif;
}

/* Encabezado */
.table thead th {
  text-align: left;
  font-size: 13px;
  font-weight: 700;
  color: var(--color-text-subtitle);
  background-color: var(--color-bg-mai2);
  text-transform: uppercase;
  padding: 12px 14px;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Filas */
.table tbody tr {
  background-color: var(--color-bg-container);

  transition: transform 0.2s ease;
}

.table tbody tr:hover {
  transform: scale(1.002);
}

/* Celdas */
.table td {
  padding: 10px 14px;
  font-size: 12px;
  color: var(--color-text-strong);
  vertical-align: middle;
}



/* Iconos de acción */
.action-icon {
  cursor: pointer;
  color: var(--color-text-strong);
  padding: 6px;
  margin-right: 4px;
  display: inline-flex;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.action-icon:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.delete:hover {
  background-color: #fce1e1;
  color: #bf4242;
}
