.simulacion-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 32px 16px;
    gap: 32px;
  }
  
  .simulacion-header {
    text-align: left;
  
  }
  
  .simulacion-header h2 {
    font-size: 28px;
    font-weight: 700;
    color: var(  --color-text-subtitle);
  }
  
  .simulacion-header p {
    font-size: 14px;
    color: #555;
    margin-top: 1px;
  }
  
