.solicitudes-page {
  display: flex;
  height: calc(100vh - 100px);
  background-color: #ffffff;
}

.solicitudes-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;

}

.chat-placeholder {
  margin: auto;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}
