.tableContainer {
  width: 100%;
  overflow-x: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  padding: 1rem;
}

/* Tabla general */
.table {
  color: #374151; /* text-gray-700 */
  width: 100%;
  border-collapse: collapse;
  font-size: 0.75rem;

}

/* Encabezados */
.table th {
  background-color: #f9fafb;
  color: #374151; /* text-gray-700 */
  font-weight: 600;
  padding: 14px 18px;
  
  text-align: left;
  white-space: nowrap;
}

/* Celdas */
.table td {
  color: #3d3d3d; /* text-gray-700 */
  font-size: 13px;
  padding: 14px 18px;

  white-space: nowrap;
}

/* Hover fila */
.table tr:hover {
  background-color: #f3f4f6;
  transition: background 0.2s ease-in-out;
}

/* Acciones */
.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.actions button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

/* Editar */
.editBtn {
  background-color: #ffffff;
  color: #000000;
}

.editBtn:hover {
  background-color: #bae6fd;
  transform: scale(1.03);
}

/* Eliminar */
.deleteBtn {
  background-color: #ffffff;
  color: #000000;
}

.deleteBtn:hover {
  background-color: #fecaca;
  transform: scale(1.03);
}
