
  
  .resultados-titulo {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 8px;
    color: var(  --color-text-subtitle);
  }
  
  .resultado-card {
    background-color: var(  --color-bg-container);
    border: 1px solid var(  --color-border);
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 15px;
    transition: box-shadow 0.2s ease;
  }
  
  .resultado-card:hover {
    box-shadow:var(  --shadow-lg)
  }
  
  .resultado-header {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 12px;
    color: var(  --color-text-subtitle);
    display: flex;
    align-items: center;
    gap: 2px;
  }
  
  .resultado-icono {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(   --color-declaracion-finiquito-text);
    border-radius: 50%;
    padding: 2px;
  }
  
  .resultado-grid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  
  .resultado-columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  
  .etiqueta {
    font-size: 11px;
    color: var(  --color-text-secondary);
    margin-bottom: 4px;
  }
  
  .valor {
    font-size: 13px;
    font-weight: 800;
    color: var(--color-text-subtitle);
  }

.mejor-opcion {
    border: 1px solid var(--color-declaracion-finiquito-text);
    background:var(  --color-modalidad-seguro-bg);
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(39, 174, 95, 0.129);
    position: relative;
    z-index: 1;
  }
  
  .opcion-secundaria {
    opacity: 0.85;
    filter: grayscale(5%);
    transition: transform 0.2s ease;
  }
  
  .opcion-secundaria:hover {
    transform: scale(1.01);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
  }
  .resultado-card.seleccionado {
    border: 2px solid var(--color-declaracion-finiquito-text);
    box-shadow: 0 0 0 3px rgba(155, 200, 148, 0.2);
    transform: scale(1.025);
    cursor: pointer;
  }
  
