.dashboard-historial {
  margin-top: 24px;
  background-color:var(  --color-bg-container2);
  border: 1px solid var(  --color-border);
  border-radius: 12px;
  padding: 24px;
  box-shadow:var(  --shadow-md)
}

.historial-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.historial-header h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(  --color-text-main);
}

.tabs {
  display: flex;
  gap: 12px;
}

.tab {
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--color-text-subtitle);
  transition: background-color 0.2s;
}

.tab.active {
  background-color: #f8b400;
  color: #fff;
  font-weight: 600;
}
.custom-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}