.resumen-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
  
}

.card {
  flex: 1;
  min-width: 180px;
  padding: 16px 20px;
  border-radius: 12px;
  box-shadow: 0 1px 6px rgba(134, 134, 134, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.1s ease;
}

.card span {
  font-size: 11px;
  text-transform: uppercase;
  color: #a1a1a1;
  margin-bottom: 4px;
  font-weight: 500;
}

.card strong {
  font-size: 21px;
  font-weight: 700;
  color: #111;
}

/* Tipos de tarjeta */
.card.neutral {
  background: #fff;
  border: 1px solid #e3e3e3;
}

.card.green {
  background-color: #2a2a2a;
  color: white;
}

.card.green span,
.card.green strong {
  color: white;
}

.card.red {
  background-color: #b03030;
  color: white;
}

.card.red span,
.card.red strong {
  color: white;
}
