.titulo-tabla {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-text-main);
}

.tabla-solicitudes {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 12px;
  font-size: 14px;
}
.cell-ellipsis {
  max-width: 180px; /* puedes ajustar */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.cell-ellipsis:hover {
  overflow: visible;
  white-space: normal;
}
.tabla-solicitudes thead th {
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--color-text-strong);
  background-color: var(--color-bg-mai2);
  text-transform: uppercase;
  padding: 14px 16px;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 2;
}

.tabla-solicitudes tbody tr {
  background: var(--color-bg-sidebar);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  transition: all 0.2s ease;
}

.tabla-solicitudes tbody tr :hover {
  background-color: var(  --color-bg-sidebar);
  transform: scale(1.002);
}
.tabla-solicitudes tbody td {
  padding: 12px 16px;
  font-size: 13px;
  color: var(--color-text-main);
  vertical-align: middle;
}

.tabla-solicitudes tbody tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tabla-solicitudes tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.status-tag {
  padding: 4px 10px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.status-tag.abierto {
  background-color: var(--color-modalidad-seguro-bg);
  color: var(--color-modalidad-seguro-text);
}

.tiempo-tag {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 999px;
  font-weight: 500;
}

.tiempo-normal {
  background-color: var(--color-declaracion-finiquito-bg);
  color: var(--color-declaracion-finiquito-text);
}

.tiempo-urgente {
  background-color: var(--color-queja-bg);
  color: var(--color-queja-text);
}

.tiempo-rebasado {
  background-color: var(--color-queja-bg);
  color: var(--color-queja-text);
}

.icon-eye {
  width: 20px;
  height: 20px;
  color: #6b7280;
  cursor: pointer;
  transition: color 0.2s;
}
.link-asignar {
  cursor: pointer;
  transition: color 0.2s;
  color: var(--color-status-activo-bg);
}

.icon-eye:hover {
  color: var(--color-text-subtitle);
}
.filtros-solicitudes {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 6px;
  padding: 10px 0;
  width: 100%;
  background: var(--color-bg-container);
  color: var(--color-text-main);
}

.filtros-solicitudes select {
  flex: 1 1 300px;
  min-width: 432px;
  max-width: 240px;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 13px;
  box-sizing: border-box;
  background: var(--color-bg-container);
  color: var(--color-text-main);
}
