.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 2px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.page-btn {
  min-width: 36px;
  height: 36px;
  padding: 6px 12px;
  background-color: var(--color-bg-sidebar);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.page-btn:hover:not(.active):not(:disabled) {
  background-color: var( --color-bg-mai2);
  box-shadow: var(--shadow-md)
}

.page-btn.active {
  background-color: var( --color-text-subtitle); 
  color:var( --color-bg-sidebar);
  border-color: var( --color-text-subtitle);
  cursor: default;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.dots {
  padding: 6px 10px;
  color: var( --color-text-muted);
  font-weight: bold;
}

.pagination-jump {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: var(--color-text-secondary);
}

.pagination-jump select {
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid var(--color-bg-mai2);
  background: var(--color-bg-sideba);
  font-size: 13px;
  font-weight: 500;
}
