.contract-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.cartera-clientes-page {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tabla-contratos {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 12px;
}

.tabla-contratos thead {
  background-color: var( --color-bg-mai2);
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text-strong);
}

.tabla-contratos th {
  padding: 12px;
  text-align: left;
}

.tabla-contratos td {
  background: var( --color-bg-sidebar);
  padding: 16px 12px;
  font-size: 14px;
  vertical-align: middle;
  border-bottom: 1px solid var(  --colorborde);
  border-radius: 8px;
}

.tabla-contratos tbody tr {
  box-shadow:var(--breakpoint-md);
  border-radius: 10px;
}

/* Carga y mensajes vacíos */
.cartera-clientes-page p {
  text-align: center;
  font-size: 16px;
  color: var(--color-text-strong);
  margin-top: 24px;
}

.filtros-cartera {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: flex-end;
}

.filtro-grupo {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  flex: 1;

}

.filtro-grupo label {
  font-size: 14px;
  color: var(  --color-text-strong);
  margin-bottom: 4px;
  font-weight: 500;
}

.filtro-grupo input, select {
  padding: 8px 12px;
  border: 1px solid var(--color-border) ;
  border-radius: 8px;
  background: var(  --coilor-fondo-cat);
  color: var( --color-text-main);
  font-size: 14px;
}

.btn-buscar {
  padding: 10px 20px;
  background-color: var(  --color-text-strong);
  color:var(  --color-bg-container);
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn-buscar:hover {
  background-color: var(--color-bg-mai2);
  color:var( --color-text-main)!important;
}
