.floating-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #080808;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1000;
}

.floating-button:hover {
  background-color: #4f4f4f;
}

.report-count {
  background-color: white;
  color: #000000;
  font-weight: bold;
  border-radius: 9999px;
  padding: 3px 8px;
  font-size: 12px;
}
