.detalle-contrato {
  background-color:var( --color-bg-sideba);
  border-radius: 8px;
  padding: 20px;
  box-shadow:var(  --shadow-md);
  font-size: 13px;
  line-height: 2.2;
  color: var(  --color-text-secondar);
  border: 1px solid var(  --color-border);
}

.detalle-contrato section {
  margin-bottom: 4px;
}

.detalle-contrato h4 {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 600;
  color: var(  --color-text-strong);
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  border-bottom: 1px dashed var(  --color-border);
  padding-bottom: 4px;
}

.info-row span {
  font-weight: 500;
  color: var(  --color-text-subtitle);
}

.info-row strong {
  color: var(  --color-text-subtitle);
}
