.tabla-amortizacion-wrapper {
  background-color: var( --color-bg-sidebar);
  border-radius: 10px;
  padding: 16px 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    border: 1px solid var(  --color-border);
}
.tabla-scroll {
  max-height: 360px; /* o el tamaño que desees */
  overflow-y: auto;
  border: 1px solid var(--color-border);
  border-radius: 6px;
}


.tabla-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 12px;
}

.resumen-linea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border: 1px solid var(--color-border);
  border-radius: 8px;
  overflow: hidden;
  font-size: 13px;
  margin-bottom: 16px;
}

.resumen-linea > div {
  padding: 10px 12px;
  border-right: 1px solid var(--color-border);
  background-color:var( --color-bg-mai2);
}

.resumen-linea > div:last-child {
  border-right: none;
}

.resumen-linea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  font-size: 13px;
  margin-bottom: 12px;
  color: var(  --color-text-strong);
}

.cuotas-info {
  font-size: 13px;
  color: var( --color-text-subtitle);
}

.tabla-scroll {
  overflow-x: auto;
}

.tabla-amortizacion {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.tabla-amortizacion th,
.tabla-amortizacion td {
  padding: 10px 12px;
  text-align: center;
  border-bottom: 1px solid var(--color-border);
}

.tabla-amortizacion th {
  background-color: var(  --coilor-fondo-cat);
  color: var( --color-text-strong);
}

.ultima-cuota {
  background-color: #007a5a;
  color: white;
}
