.personal-info-card {
  background-color: var(--color-bg-sidebar);
  padding: 20px;
  border-radius: 16px;
  box-shadow: var(--shadow-md);
  flex: 1;
  border: 1px solid var(--color-border);
}

.personal-info-card h4 {
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: 600;
  color: var(  --color-text-subtitle);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 32px;
  font-size: 14px;
  color: var( --color-text-main);
}

.grid div {
  display: flex;
  flex-direction: column;
}

.grid span {
  font-size: 13px;
  color: var(  --color-text-muted);
}

.grid strong {
  font-weight: 600;
  color: var(--color-text-subtitle);
}
